@use '../5-utils/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.font--sm {
    font-size: 12px;
}

.font--md {
    font-size: 14px;
}

.text--light {
    color: $gray;
}

.text--dark {
    color: $mine-shaft;
}